.header {
  width: 100%;
  position: fixed;
}
.header-container {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.header-logo-img {
  width: 95px;
  height: auto;
}
.header-logo-profile {
  background: #86A73E;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}