*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --black-300: #999999;
  --black-400: #333333;
  --black-500: #101010;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--black-500);
  color: var(--white)
}