.banner {
  position: relative;
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  max-width: 500px;
}
.banner-content h1{
  margin: 0;
  font-size: 62px;
}
.banner-info {
  display: flex;
  gap: 12px;
  font-weight: bold;
}

.banner-acao {
  display: flex;
  gap: 6px;
}
.banner-button {
  display: flex;
  gap: 4px;
  align-items: center;
  border: 0;
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: bold;
  background-color: var(--white);
}
.banner-button-inverse {
  color: var(--white);
  background-color: var(--black-400);
}

.banner-footer {
  font-size: 12px;
}
.banner-footer h2 {
  font-size: 16px;
  font-weight: bold;
  color: var(--black-300);
}

.banner-img {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100vh;
}

.banner-img::before {
  content: ' ';
  position: absolute;
  inset: 0;
  box-shadow: inset 5vw -10vh 50vh 20vh var(--black-500);
}

.banner-img img {
  height: 100%;
  width: auto;
}